In [1]:
import xlrd
import pandas as pd
import os
import numpy as np

In [8]:
dir_gdl = '../data/raw/gdl/'
for file in os.listdir(dir_gdl):
    
    xls = xlrd.open_workbook(r''+dir_gdl+file, on_demand=True)
    print (xls.sheet_names())

['Atemajac', 'Águilas', 'Loma dorada', 'Miravalle', 'Centro', 'Oblatos', 'Las Pintas', 'Tlaquepaque', 'Santa Fe', 'Vallarta']
['Águilas', 'Vallarta ', 'Atemajac', 'Centro', 'Las Pintas', 'Miravalle', 'Oblatos', 'Loma Dorada', 'Santa Fe ', ' Tlaquepaque']
['Águilas', 'Atemajac', 'Centro', 'Las Pintas', 'Loma Dorada', 'Miravalle', 'Oblatos', 'Santa Fe', 'Tlaquepaque', 'Vallarta']

In [122]:
gdl_data = pd.read_excel(dir_gdl+'datos_2017.xlsx', sheet_name = 'Atemajac').rename(columns={'Fecha':'FECHA','Hora':'HORA'})
gdl_data['HORA'] = gdl_data['FECHA'].dt.hour
gdl_data

,FECHA,HORA,O3,NO,NO2,NOX,SO2,CO,PM10,PM 2.5,Temp Ext,RH,WS,WD,Precipitacion,Rad Solar
0,2017-01-01,0,0.014,0.004,0.018,0.022,0.0025,1.041,49.6,NaN,18.2,60.4,2.7,274.1,NaN,NaN
1,2017-01-01,0,0.013,0.007,0.018,0.026,0.0029,0.963,76.7,NaN,16.9,69.3,1.3,240.3,NaN,NaN
2,2017-01-01,0,0.007,0.010,0.022,0.032,0.0024,1.137,84.6,NaN,16.4,75.8,0.5,225.2,NaN,NaN
3,2017-01-01,0,0.002,0.019,0.025,0.045,0.0021,1.863,50.3,NaN,15.8,78.1,0.0,236.6,NaN,NaN
4,2017-01-01,0,0.001,0.016,0.023,0.039,0.0020,1.450,53.1,NaN,15.3,78.8,0.9,246.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5489,2017-12-31,0,0.008,0.013,0.041,0.055,0.0023,1.522,39.6,NaN,19.9,42.6,3.2,279.1,NaN,NaN
5490,2017-12-31,0,0.012,0.007,0.034,0.042,0.0021,1.334,56.1,NaN,19.5,43.2,1.7,244.9,NaN,NaN
5491,2017-12-31,0,0.011,0.008,0.032,0.041,0.0037,1.453,70.2,NaN,19.1,44.2,1.3,234.8,NaN,NaN
5492,2017-12-31,0,0.005,0.012,0.037,0.050,0.0035,1.660,80.5,NaN,18.7,48.5,1.8,119.9,NaN,NaN
5493,2018-01-01,0,0.009,0.012,0.031,0.043,0.0029,1.289,89.2,NaN,18.2,49.3,3.4,253.5,NaN,NaN

In [66]:
gdl_data2 = gdl_data[['FECHA','HORA','O3','NO2','SO2','PM10','CO','PM 2.5']]

#gdl_data2 = gdl_data2.set_index(['Fecha','Hora'])

In [33]:
gdl_melt = pd.melt(gdl_data2, id_vars = ['Fecha','Hora'], value_vars=['O3','NO'])
gdl_melt = gdl_melt.set_index(['Fecha','Hora'])
gdl_stack = gdl_melt.stack([0])
gdl_stack.head(50)

Fecha       Hora
2017-01-01  00:00:00  variable       O3
                      value       0.014
            01:00:00  variable       O3
                      value       0.013
            02:00:00  variable       O3
                      value       0.007
            03:00:00  variable       O3
                      value       0.002
            04:00:00  variable       O3
                      value       0.001
            05:00:00  variable       O3
                      value       0.001
            06:00:00  variable       O3
                      value       0.001
            07:00:00  variable       O3
                      value       0.001
            08:00:00  variable       O3
                      value       0.003
            09:00:00  variable       O3
                      value       0.017
            10:00:00  variable       O3
                      value       0.037
            11:00:00  variable       O3
                      value       0.039
            12:00:00  variable       O3
                      value       0.044
            13:00:00  variable       O3
                      value       0.043
            14:00:00  variable       O3
                      value       0.037
            15:00:00  variable       O3
                      value       0.039
            16:00:00  variable       O3
                      value       0.039
            17:00:00  variable       O3
                      value       0.036
            18:00:00  variable       O3
                      value       0.031
            19:00:00  variable       O3
                      value        0.02
            20:00:00  variable       O3
                      value       0.017
            21:00:00  variable       O3
                      value       0.019
            22:00:00  variable       O3
                      value       0.012
            23:00:00  variable       O3
                      value       0.017
2017-01-02  00:00:00  variable       O3
                      value       0.017
dtype: object

In [150]:
#gdl_data2 = gdl_data2.set_index(['Fecha','Hora'])
#gdl_stack = pd.DataFrame(gdl_data2.set_index(['FECHA','HORA']).stack([0]))
#gdl_stack = pd.DataFrame(gdl_data2.stack([0]), columns=['PARAM','ATM'])
#gdl_melt = gdl_melt.set_index(['Fecha','Hora'])
#gdl_stack.rename(columns={' ':'PARAM',0:'ATM'})
#gdl_stack = gdl_stack.reset_index().rename(columns={'level_2':'PARAM',0:'ATM'})
#gdl_stack.rename(columns={'level_2':'PARAM',0:'ATM'})
#gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==2017].set_index(['FECHA','HORA'])
#gdl_stack
#merge_data = pd.DataFrame()
#merge_data = merge_data.append(gdl_stack)
#merge_data
lst_est = ['Atemajac', 'Águilas', 'Loma dorada', 'Miravalle', 'Centro', 'Oblatos', 'Las Pintas', 'Tlaquepaque', 'Santa Fe', 'Vallarta']
#lst_est.index('Atemajac')
lst_est = [[x.upper() for x in lst_est]]
lst_est

[['ATEMAJAC',
  'ÁGUILAS',
  'LOMA DORADA',
  'MIRAVALLE',
  'CENTRO',
  'OBLATOS',
  'LAS PINTAS',
  'TLAQUEPAQUE',
  'SANTA FE',
  'VALLARTA']]

In [2]:
def gdl_data ():
    dir_gdl = '../data/raw/gdl/'
    
    est_dict = {'ÁGUILAS':'AGU', 'ATEMAJAC':'ATM', 'CENTRO':'CEN', 
                'LAS PINTAS':'PIN', 'LOMA DORADA':'LDO', 'MIRAVALLE':'MIR', 'OBLATOS':'OBL', 
                'SANTA FE':'SFE', 'TLAQUEPAQUE':'TLA', 'VALLARTA':'VAL'}
    
    
    
    for file in os.listdir(dir_gdl):

        xls = xlrd.open_workbook(r''+dir_gdl+file, on_demand=True)
        sheets = xls.sheet_names()
        
        if '2017' not in file:
            
            #print (sheets)

            for s in sheets:

                gdl_data = pd.read_excel(dir_gdl+file, sheet_name = s).rename(columns={'Fecha':'FECHA',
                                                                                       'Hora':'HORA'}).replace(r'^\s*$', 
                                                                                                               np.nan, 
                                                                                                               regex=True)
                gdl_data.columns = [col.strip() for col in gdl_data.columns]
                #print (gdl_data.columns)
                gdl_data = gdl_data[['FECHA','O3','NO2','SO2','PM10','CO']]

                gdl_data['FECHA'] = gdl_data['FECHA'].dt.date

                #print ('check')

                #print (gdl_data.head(10))
                
                #print (gdl_data)

                gdl_stack = pd.DataFrame(gdl_data.set_index(['FECHA']).stack([0]))
                
                #print (gdl_stack)
                
                gdl_stack = gdl_stack.reset_index().rename(columns={'level_1':'PARAM',
                                                                    0:est_dict[s.strip(' ').upper()]})
                #gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==2017].set_index(['FECHA','HORA','PARAM'])
                gdl_stack['FECHA'] = pd.to_datetime(gdl_stack['FECHA'])
                gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==int(file[6:10])]
                
                #print (gdl_stack)
                
                gdl_stack[est_dict[s.strip(' ').upper()]] = pd.to_numeric(gdl_stack[est_dict[s.strip(' ').upper()]], errors='coerce')
                
                gdl_stack = gdl_stack.groupby(['FECHA','PARAM']).mean()

                print(gdl_stack)

                if sheets.index(s)==0:
                    all_data = gdl_stack
                    #print (all_data)
                    #rehttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.htmlturn (all_data)

                else:
                    all_data = pd.merge(all_data, gdl_stack, how='outer',left_index=True, right_index=True)
                    #all_data[est_dict[s]] = gdl_stack[est_dict[s]]

            all_data.to_csv(dir_gdl+file[6:10]+'.csv')

In [3]:
gdl_data()

                       AGU
FECHA      PARAM
2019-01-01 CO     1.163708
           NO2    0.007375
           O3     0.022417
           SO2    0.002100
2019-01-02 CO     0.838250
...                    ...
2019-12-30 O3     0.013375
           SO2    0.001792
2019-12-31 CO     0.909167
           O3     0.016278
           SO2    0.001861

[1466 rows x 1 columns]
                        VAL
FECHA      PARAM
2019-01-01 CO      0.874625
           NO2     0.030583
           O3      0.019500
           PM10   47.441667
           SO2     0.001525
...                     ...
2019-12-31 CO      0.444222
           NO2     0.022833
           O3      0.022056
           PM10   19.961111
           SO2     0.001789

[1059 rows x 1 columns]
                        ATM
FECHA      PARAM
2019-01-01 CO      2.077500
           NO2     0.021542
           O3      0.012375
           PM10   74.708333
           SO2     0.003021
...                     ...
2019-12-30 SO2     0.002554
2019-12-31 NO2     0.022600
           O3      0.024000
           PM10   36.140000
           SO2     0.002293

[1767 rows x 1 columns]
                        CEN
FECHA      PARAM
2019-01-10 CO      1.289667
           NO2     0.027200
           O3      0.042111
           PM10   75.662222
           SO2     0.004567
...                     ...
2019-12-31 CO      0.863125
           NO2     0.018146
           O3      0.014125
           PM10   36.751250
           SO2     0.001715

[1469 rows x 1 columns]
                         PIN
FECHA      PARAM
2019-01-01 CO       3.390667
           NO2      0.110958
           O3       0.017833
           PM10   260.566667
           SO2      0.006688
...                      ...
2019-12-30 PM10   121.029167
           SO2      0.002444
2019-12-31 CO       1.006458
           O3       0.015542
           PM10    75.379167

[1466 rows x 1 columns]
                        MIR
FECHA      PARAM
2019-01-01 CO      1.163708
           NO2     0.007375
           O3      0.022417
           SO2     0.001600
2019-01-02 CO      0.838250
...                     ...
2019-12-30 SO2     0.001912
2019-12-31 CO      0.557292
           NO2     0.011542
           PM10   53.470833
           SO2     0.003250

[1380 rows x 1 columns]
                        OBL
FECHA      PARAM
2019-01-01 CO      1.416417
           NO2     0.024583
           O3      0.014333
           PM10   51.658333
           SO2     0.003000
...                     ...
2019-12-30 SO2     0.001096
2019-12-31 CO      0.779750
           NO2     0.013667
           O3      0.012208
           SO2     0.001792

[1641 rows x 1 columns]
                         LDO
FECHA      PARAM
2019-01-01 CO       1.864875
           NO2      0.040792
           O3       0.017375
           PM10   110.875000
           SO2      0.001896
...                      ...
2019-12-31 CO       1.080167
           NO2      0.023083
           O3       0.013333
           PM10    48.812500
           SO2      0.001946

[1771 rows x 1 columns]
                         SFE
FECHA      PARAM
2019-01-01 NO2      0.010125
           O3       0.012958
           PM10   164.038609
           SO2      0.002800
2019-01-02 NO2      0.009667
...                      ...
2019-12-31 CO       0.399625
           NO2      0.046208
           O3       0.010958
           PM10    92.772708
           SO2      0.002308

[1304 rows x 1 columns]
                         TLA
FECHA      PARAM
2019-01-01 CO       3.013583
           NO2      0.028292
           O3       0.018458
           PM10   178.701250
           SO2      0.005725
...                      ...
2019-12-30 PM10    50.411500
           SO2      0.002783
2019-12-31 O3       0.010625
           PM10    53.771000
           SO2      0.003196

[1245 rows x 1 columns]
                        AGU
FECHA      PARAM
2018-01-01 CO      0.958958
           NO2     0.041500
           O3      0.029542
           PM10   51.620833
           SO2     0.003225
...                     ...
2018-12-30 SO2     0.004225
2018-12-31 CO      1.132292
           NO2     0.008625
           O3      0.038000
           SO2     0.004404

[1628 rows x 1 columns]
                        ATM
FECHA      PARAM
2018-01-01 CO      1.246292
           NO2     0.026917
           O3      0.019708
           PM10   49.841667
           SO2     0.002121
...                     ...
2018-12-31 CO      1.602875
           NO2     0.021333
           O3      0.010208
           PM10   41.825000
           SO2     0.003592

[1483 rows x 1 columns]
                        CEN
FECHA      PARAM
2018-01-01 CO      1.099875
           NO2     0.023375
           O3      0.024917
           PM10   86.585833
           SO2     0.002517
...                     ...
2018-11-14 CO      0.044333
           NO2     0.002750
           O3      0.017917
           PM10   12.865455
           SO2     0.004364

[1548 rows x 1 columns]
                         PIN
FECHA      PARAM
2018-01-01 CO       1.617542
           NO2      0.045333
           O3       0.018542
           PM10   147.041667
2018-01-02 CO       0.829125
...                      ...
2018-12-31 CO       1.205625
           NO2      0.037708
           O3       0.014417
           PM10    56.345833
           SO2      0.004212

[1458 rows x 1 columns]
                         LDO
FECHA      PARAM
2018-01-01 CO       1.276167
           NO2      0.022167
           O3       0.030292
           PM10   101.116667
           SO2      0.001483
...                      ...
2018-12-31 CO       1.492458
           NO2      0.012750
           O3       0.017958
           PM10    46.841667
           SO2      0.001008

[1022 rows x 1 columns]
                         MIR
FECHA      PARAM
2018-01-01 NO2      0.025542
           PM10   140.158333
           SO2      0.001187
2018-01-02 NO2      0.024208
           PM10    68.167500
...                      ...
2018-12-31 CO       1.322250
           NO2      0.019500
           O3       0.009167
           PM10    69.187500
           SO2      0.003958

[1650 rows x 1 columns]
                        OBL
FECHA      PARAM
2018-01-01 CO      1.035542
           NO2     0.024667
           O3      0.025667
           PM10   61.720833
           SO2     0.002746
...                     ...
2018-12-31 CO      0.954083
           NO2     0.023750
           O3      0.015125
           PM10   23.134783
           SO2     0.002629

[1528 rows x 1 columns]
                         SFE
FECHA      PARAM
2018-01-01 CO       1.439583
           NO2      0.011542
           O3       0.037000
           PM10   107.057917
           SO2      0.003817
...                      ...
2018-12-30 SO2      0.003062
2018-12-31 NO2      0.009412
           O3       0.011353
           PM10    51.329563
           SO2      0.003965

[1712 rows x 1 columns]
                        TLA
FECHA      PARAM
2018-01-01 CO      1.396458
           NO2     0.025500
           O3      0.029833
           PM10   89.575000
           SO2     0.004188
...                     ...
2018-12-31 CO      1.494375
           NO2     0.018417
           O3      0.016083
           PM10   46.720417
           SO2     0.001150

[1580 rows x 1 columns]
                        VAL
FECHA      PARAM
2018-01-01 CO      3.130917
           NO2     0.020167
           O3      0.034125
           PM10   51.633333
           SO2     0.001650
...                     ...
2018-06-29 PM10   20.400000
2018-06-30 CO      0.559000
           NO2     0.024000
           O3      0.029000
           PM10   14.200000

[884 rows x 1 columns]

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'FECHA,PA'

In [4]:
#gdl_data = pd.read_excel(dir_gdl+'datos_2017.xlsx', sheet_name = 'Águilas').rename(columns={'Fecha':'FECHA','Hora':'HORA'})
#gdl_data['HORA'] = gdl_data['FECHA'].dt.hour
#gdl_data
name = 'datos_2017.xlsx'
#name[6:10]
test = 'Las Pintas '
test.strip(' ').upper()

'LAS PINTAS'

In [20]:
dir_gdl = '../data/raw/gdl/'
gdl_data = pd.read_excel(dir_gdl+'datos_2019.xlsx', sheet_name = ' Tlaquepaque').rename(columns={'Fecha':'FECHA','Hora':'HORA'}).replace(r'^\s*$', np.nan, regex=True)
gdl_data.columns = [col.strip() for col in gdl_data.columns]
#print (gdl_data.columns)
gdl_data = gdl_data[['FECHA','O3','NO2','SO2','PM10','CO']]

gdl_data['FECHA'] = gdl_data['FECHA'].dt.date

#print ('check')

#print (gdl_data.head(10))

#print (gdl_data)

gdl_stack = pd.DataFrame(gdl_data.set_index(['FECHA']).stack([0]))

#print (gdl_stack)

gdl_stack = gdl_stack.reset_index().rename(columns={'level_1':'PARAM',
                                                    0:'TLQ'})
#gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==2017].set_index(['FECHA','HORA','PARAM'])
gdl_stack['FECHA'] = pd.to_datetime(gdl_stack['FECHA'])
gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==2019]

#print (gdl_stack)

gdl_stack['TLQ'] = pd.to_numeric(gdl_stack['TLQ'], errors='coerce')

gdl_stack = gdl_stack.groupby(['FECHA','PARAM']).mean()

gdl_stack

                         TLQ
FECHA      PARAM
2019-01-01 CO       3.013583
           NO2      0.028292
           O3       0.018458
           PM10   178.701250
           SO2      0.005725
...                      ...
2019-12-30 PM10    50.411500
           SO2      0.002783
2019-12-31 O3       0.010625
           PM10    53.771000
           SO2      0.003196

[1245 rows x 1 columns]

In [7]:
year = '2018'

df = pd.DataFrame({
    'date': pd.date_range(
        start = pd.Timestamp(year),                        
        end = pd.Timestamp(year) + pd.offsetsYearEnd(0),  # <-- 2018-08-31 with MonthEnd
        freq = 'D'
    )
})

df

AttributeError: module 'pandas' has no attribute 'offsetsYearEnd'

In [10]:
year = '2017'
df = pd.DataFrame(columns=['O3','CO','PM10','SO2','NO2'])

'''
df = pd.DataFrame({
    'date': pd.date_range(
        start = pd.Timestamp(year),                        
        end = pd.Timestamp(year) + pd.tseries.offsets.YearEnd(0),  # <-- 2018-08-31 with MonthEnd
        freq = 'D')}, columns=['O3','CO','PM10','SO2','NO2'])
'''
df['FECHA'] = pd.date_range(start = pd.Timestamp(year), 
                           end = pd.Timestamp(year) + pd.tseries.offsets.YearEnd(0),
                           freq = 'D')

df = df.set_index('FECHA')
df = df.stack(dropna=False)
df2 = pd.DataFrame(df)
df2 = df2.rename_axis(index=['FECHA','PARAM'])
df2 = df2.drop(columns=[0])

dir_gdl = '../data/raw/gdl/'

gdl_data = pd.read_excel(dir_gdl+'datos_2017.xlsx', sheet_name = 'Atemajac').rename(columns={'Fecha':'FECHA','Hora':'HORA'}).replace(r'^\s*$', 
                                                                                                           np.nan, 
                                                                                                           regex=True)
gdl_data.columns = [col.strip() for col in gdl_data.columns]

gdl_data = gdl_data[['FECHA','O3','NO2','SO2','PM10','CO']]

gdl_data['FECHA'] = gdl_data['FECHA'].dt.date

gdl_stack = pd.DataFrame(gdl_data.set_index(['FECHA']).stack([0]))

gdl_stack = gdl_stack.reset_index().rename(columns={'level_1':'PARAM',
                                                    0:'ATM'})

gdl_stack['FECHA'] = pd.to_datetime(gdl_stack['FECHA'])

gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==2017]

gdl_stack['ATM'] = pd.to_numeric(gdl_stack['ATM'], errors='coerce')

gdl_stack = gdl_stack.groupby(['FECHA','PARAM']).mean()

df2 = pd.merge(df2, gdl_stack, how='outer',left_index=True, right_index=True)

In [11]:
df2

                        ATM
FECHA      PARAM
2017-01-01 CO      1.045583
           NO2     0.016042
           O3      0.020417
           PM10   44.529167
           SO2     0.002042
...                     ...
2017-12-31 CO      1.370542
           NO2     0.032542
           O3      0.019333
           PM10   49.537500
           SO2     0.002446

[1825 rows x 1 columns]

In [24]:
def gdl_data ():
    dir_gdl = '../data/raw/gdl/'
    
    est_dict = {'ÁGUILAS':'AGU', 'ATEMAJAC':'ATM', 'CENTRO':'CEN', 
                'LAS PINTAS':'PIN', 'LOMA DORADA':'LDO', 'MIRAVALLE':'MIR', 'OBLATOS':'OBL', 
                'SANTA FE':'SFE', 'TLAQUEPAQUE':'TLA', 'VALLARTA':'VAL'}
    
    for file in os.listdir(dir_gdl):

        f_check = os.path.join(dir_gdl,file)

        if os.path.isfile(f_check):

            xls = xlrd.open_workbook(r''+dir_gdl+file, on_demand=True)
            sheets = xls.sheet_names()

        else:
            continue
        
        year = file[6:10]
        
        print (year)
        
        df = pd.DataFrame(columns=['O3','CO','PM10','SO2','NO2'])

        df['FECHA'] = pd.date_range(start = pd.Timestamp(year), 
                                   end = pd.Timestamp(year) + pd.tseries.offsets.YearEnd(0),
                                   freq = 'D')

        df = df.set_index('FECHA')
        df = df.stack(dropna=False)
        all_data = pd.DataFrame(df)
        all_data = all_data.rename_axis(index=['FECHA','PARAM'])
        all_data = all_data.drop(columns=[0])
        
        #print(all_data)

        for s in sheets:

            gdl_data = pd.read_excel(dir_gdl+file, sheet_name = s).rename(columns={'Fecha':'FECHA',
                                                                                   'Hora':'HORA'}).replace(r'^\s*$', 
                                                                                                           np.nan, 
                                                                                                           regex=True)
            gdl_data.columns = [col.strip() for col in gdl_data.columns]
            
            gdl_data = gdl_data[['FECHA','O3','NO2','SO2','PM10','CO']]

            gdl_data['FECHA'] = gdl_data['FECHA'].dt.date

            gdl_stack = pd.DataFrame(gdl_data.set_index(['FECHA']).stack([0]))

            gdl_stack = gdl_stack.reset_index().rename(columns={'level_1':'PARAM',
                                                                0:est_dict[s.strip(' ').upper()]})
            
            gdl_stack['FECHA'] = pd.to_datetime(gdl_stack['FECHA'])
            
            gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==int(file[6:10])]

            gdl_stack[est_dict[s.strip(' ').upper()]] = pd.to_numeric(gdl_stack[est_dict[s.strip(' ').upper()]], errors='coerce')

            gdl_stack = gdl_stack.groupby(['FECHA','PARAM']).mean()

            all_data = pd.merge(all_data, gdl_stack, how='outer',left_index=True, right_index=True)
            
        
        #print (all_data)
        all_data.to_csv(dir_gdl+'stack/'+file[6:10]+'.csv')

In [25]:
gdl_data()

2017
                        ATM        AGU        LDO         MIR        CEN  \
FECHA      PARAM
2017-01-01 CO      1.045583   0.789292   1.099958    1.582542        NaN
           NO2     0.016042   0.026125   0.023458    0.021708   0.016083
           O3      0.020417   0.020083   0.014917    0.015333   0.025042
           PM10   44.529167  28.666667  50.954167  114.748750  40.570833
           SO2     0.002042   0.002092   0.001671         NaN   0.001821
...                     ...        ...        ...         ...        ...
2017-12-31 CO      1.370542   1.085292   1.192375    0.007792   0.813875
           NO2     0.032542   0.044917   0.025167    0.024833   0.025958
           O3      0.019333   0.027333   0.034208         NaN   0.028333
           PM10   49.537500  44.466667  71.937500   75.023333  66.145000
           SO2     0.002446   0.002938   0.000996    0.001021   0.002575

                        OBL         PIN        TLA         SFE        VAL
FECHA      PARAM
2017-01-01 CO      0.874750    1.948333   1.037042    1.571792   0.876625
           NO2     0.013708    0.026167   0.019417    0.022000   0.016375
           O3      0.021167    0.017250   0.014792    0.010208   0.028083
           PM10   40.195833  126.058333  48.945833  116.100583        NaN
           SO2     0.002529         NaN   0.003129    0.002458   0.001567
...                     ...         ...        ...         ...        ...
2017-12-31 CO      0.916500    1.001000   0.966750    1.376750   3.041500
           NO2     0.029792    0.041542   0.030083    0.014417   0.018000
           O3      0.027833    0.022458   0.031792    0.034250   0.038917
           PM10   50.929167   82.745833  52.562500   90.621208  43.316667
           SO2     0.002775         NaN   0.003888    0.003875   0.001279

[1825 rows x 10 columns]
2019
                       AGU        VAL        ATM        CEN         PIN  \
FECHA      PARAM
2019-01-01 CO     1.163708   0.874625   2.077500        NaN    3.390667
           NO2    0.007375   0.030583   0.021542        NaN    0.110958
           O3     0.022417   0.019500   0.012375        NaN    0.017833
           PM10        NaN  47.441667  74.708333        NaN  260.566667
           SO2    0.002100   0.001525   0.003021        NaN    0.006688
...                    ...        ...        ...        ...         ...
2019-12-31 CO     0.909167   0.444222        NaN   0.863125    1.006458
           NO2         NaN   0.022833   0.022600   0.018146         NaN
           O3     0.016278   0.022056   0.024000   0.014125    0.015542
           PM10        NaN  19.961111  36.140000  36.751250   75.379167
           SO2    0.001861   0.001789   0.002293   0.001715         NaN

                        MIR        OBL         LDO         SFE         TLA
FECHA      PARAM
2019-01-01 CO      1.163708   1.416417    1.864875         NaN    3.013583
           NO2     0.007375   0.024583    0.040792    0.010125    0.028292
           O3      0.022417   0.014333    0.017375    0.012958    0.018458
           PM10         NaN  51.658333  110.875000  164.038609  178.701250
           SO2     0.001600   0.003000    0.001896    0.002800    0.005725
...                     ...        ...         ...         ...         ...
2019-12-31 CO      0.557292   0.779750    1.080167    0.399625         NaN
           NO2     0.011542   0.013667    0.023083    0.046208         NaN
           O3           NaN   0.012208    0.013333    0.010958    0.010625
           PM10   53.470833        NaN   48.812500   92.772708   53.771000
           SO2     0.003250   0.001792    0.001946    0.002308    0.003196

[1825 rows x 10 columns]
2018
                        AGU        ATM        CEN         PIN         LDO  \
FECHA      PARAM
2018-01-01 CO      0.958958   1.246292   1.099875    1.617542    1.276167
           NO2     0.041500   0.026917   0.023375    0.045333    0.022167
           O3      0.029542   0.019708   0.024917    0.018542    0.030292
           PM10   51.620833  49.841667  86.585833  147.041667  101.116667
           SO2     0.003225   0.002121   0.002517         NaN    0.001483
...                     ...        ...        ...         ...         ...
2018-12-31 CO      1.132292   1.602875        NaN    1.205625    1.492458
           NO2     0.008625   0.021333        NaN    0.037708    0.012750
           O3      0.038000   0.010208        NaN    0.014417    0.017958
           PM10         NaN  41.825000        NaN   56.345833   46.841667
           SO2     0.004404   0.003592        NaN    0.004212    0.001008

                         MIR        OBL         SFE        TLA        VAL
FECHA      PARAM
2018-01-01 CO            NaN   1.035542    1.439583   1.396458   3.130917
           NO2      0.025542   0.024667    0.011542   0.025500   0.020167
           O3            NaN   0.025667    0.037000   0.029833   0.034125
           PM10   140.158333  61.720833  107.057917  89.575000  51.633333
           SO2      0.001187   0.002746    0.003817   0.004188   0.001650
...                      ...        ...         ...        ...        ...
2018-12-31 CO       1.322250   0.954083         NaN   1.494375        NaN
           NO2      0.019500   0.023750    0.009412   0.018417        NaN
           O3       0.009167   0.015125    0.011353   0.016083        NaN
           PM10    69.187500  23.134783   51.329563  46.720417        NaN
           SO2      0.003958   0.002629    0.003965   0.001150        NaN

[1825 rows x 10 columns]

In [ ]:
dir_gdl = '../data/raw/gdl/'

for file in os.listdir(dir_gdl):
    
    print(file)
    
    f_check = os.path.join(dir_gdl,file)
    
    if os.path.isfile(f_check):
        
        xls = xlrd.open_workbook(r''+dir_gdl+file, on_demand=True)
        sheets = xls.sheet_names()
        print('check')
        
    else:
        continue
        
    print ('good')

In [13]:
files

NameError: name 'files' is not defined