In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
dir_mty = '../data/raw/mty_aqip/'

In [6]:
for file in os.listdir(dir_mty):
    print (file[0:file.find(',')])

san-nicolás
obispado
garcía
cadereyta
s.-pedro
universidad
escobedo
juárez
pueblo-serena
apodaca
metrorrey
pastora
s.-catarina

In [77]:
def pollutant(p):
    """Function that returns a str with a pollutant.

    Args:
        p (int): values from 0 to 5 for list place.

    Returns:
        str: pollutant.
    """
    #Parametros de contaminantes
    param = ['CO','NO2', 'O3','PM10','PM25','SO2']
    return (param[p])


def mty_data ():
    dir_mty = '../data/raw/mty_aqip/'
    
    est_dict = {'san-nicolás':'NE', 'obispado':'CE', 'garcía':'NO2', 'cadereyta':'SE3',
               's.-pedro':'SO2', 'universidad':'N2', 'escobedo':'N', 'juárez':'SE2',
               'pueblo-serena':'SUR', 'apodaca':'NE2', 'metrorrey':'NO' ,'pastora':'SE',
               's.-catarina':'SO'}
    
    #for i in range (6):
    
        #df = pd.DataFrame()
        
    df = pd.DataFrame(columns = ['O3','CO','PM10','PM25','SO2','NO2'])

    for year in range(2017,2021):

        df2 = pd.DataFrame()

        y = str(year)

        if year ==2020:

            df2['FECHA'] = pd.date_range(start = pd.Timestamp(y), 
                                       end = pd.Timestamp('2020-05-31')  ,
                                       freq = 'D')

        else:

            df2['FECHA'] = pd.date_range(start = pd.Timestamp(y), 
                                       end = pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    ,
                                       freq = 'D')

        df = df.append(df2)


    df['FECHA'] = pd.to_datetime(df['FECHA'])
    df = df.set_index('FECHA')
    #print (df)
    df = df.stack(dropna=False)
    all_data = pd.DataFrame(df)
    all_data = all_data.rename_axis(index=['FECHA','PARAM'])
    all_data = all_data.drop(columns=[0])

        #print(all_data)

    for file in os.listdir(dir_mty):


        #print(all_data)

        mty_data = pd.read_csv(dir_mty+file).replace(r'^\s*$', np.nan, regex=True)

        est = file[0:file.find(',')]

        #print(file[0:file.find(',')])

        mty_data.columns = [col.strip() for col in mty_data.columns]
        
        mty_data = mty_data.rename(columns={'date':'FECHA', 'pm25':'PM25','pm10':'PM10',
                                                            'o3':'O3','no2':'NO2','so2':'SO2','co':'CO'})

        #gdl_data = gdl_data[['FECHA','O3','NO2','SO2','PM10','CO']]

        #mty_data['FECHA'] = mty_data['FECHA'].dt.date

        mty_stack = pd.DataFrame(mty_data.set_index(['FECHA']).stack([0]))

        mty_stack = mty_stack.reset_index().rename(columns={'level_1':'PARAM',
                                                            0:est_dict[est]})

        mty_stack['FECHA'] = pd.to_datetime(mty_stack['FECHA'])

        mty_stack = mty_stack.set_index(['FECHA','PARAM'])
        #print(mty_stack)

        #gdl_stack['FECHA'] = pd.to_datetime(gdl_stack['FECHA'])

        #gdl_stack = gdl_stack[gdl_stack['FECHA'].dt.year==int(file[6:10])]

        #gdl_stack[est_dict[s.strip(' ').upper()]] = pd.to_numeric(gdl_stack[est_dict[s.strip(' ').upper()]], errors='coerce')

        #gdl_stack = gdl_stack.groupby(['FECHA','PARAM']).mean()

        all_data = pd.merge(all_data, mty_stack, how='left',left_index=True, right_index=True)


        #print (all_data)
        all_data.to_csv(dir_mty+'stack_Mty_AQIP.csv')

In [78]:
mty_data()

In [9]:
df = pd.DataFrame()
    
for year in range(2017,2021):

    df2 = pd.DataFrame()
    
    y = str(year)

    if year ==2020:

        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp('2020-05-31')  ,
                                   freq = 'D')

    else:

        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    ,
                                   freq = 'D')

    df = df.append(df2)
    
df

          Date
0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
..         ...
147 2020-05-27
148 2020-05-28
149 2020-05-29
150 2020-05-30
151 2020-05-31

[1247 rows x 1 columns]