In [1]:
import pandas as pd
import os

In [2]:
def aqip_mx():
    dir_pcs_aqip = '../data/processed/aqip/´'
    
    aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')

In [4]:
def pollutant(p):
    """Function that returns a str with a pollutant.

    Args:
        p (int): values from 0 to 5 for list place.

    Returns:
        str: pollutant.
    """
    #Parametros de contaminantes
    param = ['CO','NO2', 'O3','PM10','SO2']
    return (param[p])

In [47]:
years = [2017, 2018, 2019, 2020] #Years to be merged

dir_pcs_aqip = '../data/processed/aqip/'
    
aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')

aqip_mx.groupby(['City']).count()

,Specie,Date,count,min,max,median,variance,c_median
City,,,,,,,,
Aguascalientes,6350,6350,6350,6350,6350,6350,6350,6350
Chihuahua,4468,4468,4468,4468,4468,4468,4468,4468
Cuernavaca,7566,7566,7566,7566,7566,7566,7566,7566
Ecatepec de Morelos,2986,2986,2986,2986,2986,2986,2986,2986
Guadalajara,10527,10527,10527,10527,10527,10527,10527,10527
Mexico City,9075,9075,9075,9075,9075,9075,9075,9075
Monterrey,6985,6985,6985,6985,6985,6985,6985,6985
Morelia,10221,10221,10221,10221,10221,10221,10221,10221
Mérida,4139,4139,4139,4139,4139,4139,4139,4139
Oaxaca,6976,6976,6976,6976,6976,6976,6976,6976
Pachuca de Soto,7731,7731,7731,7731,7731,7731,7731,7731
Puebla,5137,5137,5137,5137,5137,5137,5137,5137
San Luis Potosí,6419,6419,6419,6419,6419,6419,6419,6419
Tepic,7889,7889,7889,7889,7889,7889,7889,7889
Toluca,9451,9451,9451,9451,9451,9451,9451,9451

In [48]:
aqip_mx['Date'] = pd.to_datetime(aqip_mx['Date'])

aqip_mx2 = pd.DataFrame()

for year in years:
    
    aqip_mx2 = aqip_mx2.append(aqip_mx[aqip_mx['Date'].dt.year==year])

aqip_mx2

,City,Specie,Date,count,min,max,median,variance,c_median
81337,Ecatepec de Morelos,SO2,2017-05-19,26,1.5,4.3,2.9,7.48,2.03
81338,Ecatepec de Morelos,SO2,2017-05-21,32,1.5,2.9,1.5,5.06,1.05
81339,Ecatepec de Morelos,SO2,2017-05-25,30,1.5,4.3,2.9,9.91,2.03
81341,Ecatepec de Morelos,SO2,2017-05-17,30,1.5,12.9,2.9,118.23,2.03
81342,Ecatepec de Morelos,SO2,2017-06-17,38,1.5,18.6,2.9,158.04,2.03
...,...,...,...,...,...,...,...,...,...
56548,Oaxaca,TEMPERATURE,2020-05-31,11,15.0,28.0,26.0,195.64,0.00
56549,Oaxaca,TEMPERATURE,2020-06-08,11,16.0,30.0,25.0,213.64,0.00
56550,Oaxaca,TEMPERATURE,2020-03-08,25,12.0,28.8,24.0,205.58,0.00
56551,Oaxaca,TEMPERATURE,2020-03-31,15,13.5,31.0,27.0,269.60,0.00
56552,Oaxaca,TEMPERATURE,2020-05-01,11,16.5,30.0,26.0,210.23,0.00

In [9]:
aqip_mx2 = aqip_mx2[aqip_mx2['City']=='Aguascalientes']#.set_index(['Date','Specie'])
aqip_city=pd.DataFrame(columns=['City','Specie','Date','c_median'])
for i in range(5):
    aqip_city = aqip_city.append(aqip_mx2[aqip_mx2['Specie']==pollutant(i)])
    #print(aqip_mx2[aqip_mx2['Specie']==pollutant(i)])
aqip_city

,City,Specie,Date,c_median,count,min,max,median,variance
17629,Aguascalientes,CO,2017-02-04,0.2816,39.0,0.2,20.1,3.2,233.60
17630,Aguascalientes,CO,2017-03-12,0.2904,23.0,0.1,17.4,3.3,108.30
17631,Aguascalientes,CO,2017-03-30,0.3784,11.0,2.4,23.3,4.3,485.25
17632,Aguascalientes,CO,2017-06-18,0.0792,21.0,0.1,4.7,0.9,19.07
17633,Aguascalientes,CO,2017-01-29,0.1408,45.0,0.2,9.0,1.6,45.40
...,...,...,...,...,...,...,...,...,...
110636,Aguascalientes,SO2,2020-01-22,1.4000,39.0,0.1,5.1,2.0,12.70
110637,Aguascalientes,SO2,2020-01-31,0.0700,46.0,0.1,4.3,0.1,9.84
110638,Aguascalientes,SO2,2020-02-27,2.9400,46.0,0.1,5.0,4.2,40.70
110639,Aguascalientes,SO2,2020-03-27,0.2100,32.0,0.1,0.8,0.3,0.47
110640,Aguascalientes,SO2,2020-04-04,0.0700,22.0,0.1,0.4,0.1,0.09

In [26]:
aqip_city = aqip_city.append(aqip_mx[aqip_mx['Specie']==pollutant(4)], ignore_index=True)
aqip_city

,City,Specie,Date,c_median,count,min,max,median,variance
0,Aguascalientes,SO2,2017-04-17,2.10,24.0,2.1,4.2,3.0,2.63
1,Aguascalientes,SO2,2017-01-24,0.77,23.0,0.5,2.9,1.1,3.62
2,Aguascalientes,SO2,2017-04-06,3.71,24.0,3.8,6.5,5.3,6.38
3,Aguascalientes,SO2,2017-03-27,7.63,24.0,9.5,12.2,10.9,5.37
4,Aguascalientes,SO2,2017-04-03,4.48,24.0,5.0,8.9,6.4,8.29
...,...,...,...,...,...,...,...,...,...
670,Aguascalientes,SO2,2020-01-22,1.40,39.0,0.1,5.1,2.0,12.70
671,Aguascalientes,SO2,2020-01-31,0.07,46.0,0.1,4.3,0.1,9.84
672,Aguascalientes,SO2,2020-02-27,2.94,46.0,0.1,5.0,4.2,40.70
673,Aguascalientes,SO2,2020-03-27,0.21,32.0,0.1,0.8,0.3,0.47
674,Aguascalientes,SO2,2020-04-04,0.07,22.0,0.1,0.4,0.1,0.09

In [43]:
aqip_city[['City','Specie','Date','c_median']]

                  City Specie       Date  c_median
17629   Aguascalientes     CO 2017-02-04    0.2816
17630   Aguascalientes     CO 2017-03-12    0.2904
17631   Aguascalientes     CO 2017-03-30    0.3784
17632   Aguascalientes     CO 2017-06-18    0.0792
17633   Aguascalientes     CO 2017-01-29    0.1408
...                ...    ...        ...       ...
110636  Aguascalientes    SO2 2020-01-22    1.4000
110637  Aguascalientes    SO2 2020-01-31    0.0700
110638  Aguascalientes    SO2 2020-02-27    2.9400
110639  Aguascalientes    SO2 2020-03-27    0.2100
110640  Aguascalientes    SO2 2020-04-04    0.0700

[3313 rows x 4 columns]

In [27]:
df = pd.DataFrame()

for year in years:

    df2 = pd.DataFrame()

    y=str(year)
    
    if year ==2020:

        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp('2020-05-31')  ,
                                   freq = 'D')
        
    else:
        
        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    ,
                                   freq = 'D')
        
    df = df.append(df2)
    
df

          Date
0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
..         ...
147 2020-05-27
148 2020-05-28
149 2020-05-29
150 2020-05-30
151 2020-05-31

[1247 rows x 1 columns]

In [ ]:
#city_df = pd.DataFrame()

aqip_mx2 = aqip_mx2[aqip_mx2['City']=='Aguascalientes']#.set_index(['Date','Specie'])
#aqip_city=pd.DataFrame(columns=['City','Specie','Date','c_median'])
for i in range(5):
    df = df.merge(aqip_city[['City','Specie','Date','c_median']], how='outer', on='Date')
    
df

In [28]:
#df['Aguascalientes'] = aqip_mx2[[aqip_mx2[aqip_mx2['City']=='Aguascalientes']]['Specie']=='PM10']
test = aqip_mx2[aqip_mx2['City']=='Ecatepec de Morelos']
test = test.set_index('Date')
#test2 = pd.DataFrame(test[test['Specie']=='CO']).set_index('Date')
#test2
df=df.merge(test[test['Specie']=='CO']['c_median'], how='outer', on='Date').rename(columns={'c_median':'Ecatepec de Morelos'})
df

#test[test['Specie']=='CO']

           Date  Ecatepec de Morelos
0    2017-01-01                  NaN
1    2017-01-02               0.7832
2    2017-01-03               1.0824
3    2017-01-04                  NaN
4    2017-01-05               2.2528
...         ...                  ...
1253 2020-05-27                  NaN
1254 2020-05-28                  NaN
1255 2020-05-29                  NaN
1256 2020-05-30                  NaN
1257 2020-05-31                  NaN

[1258 rows x 2 columns]

In [23]:
#df['Aguascalientes'] = aqip_mx2[[aqip_mx2[aqip_mx2['City']=='Aguascalientes']]['Specie']=='PM10']
test = aqip_mx2[aqip_mx2['Specie']=='CO']
test = test.set_index('Date')
#test2 = pd.DataFrame(test[test['Specie']=='CO']).set_index('Date')
#test2
c = 'Ecatepec de Morelos'
df=df.merge(test[test['City']==c]['c_median'], how='outer', on='Date').rename(columns={'c_median':c})
df

           Date  Ecatepec de Morelos
0    2017-01-01                  NaN
1    2017-01-02               0.7832
2    2017-01-03               1.0824
3    2017-01-04                  NaN
4    2017-01-05               2.2528
...         ...                  ...
1253 2020-05-27                  NaN
1254 2020-05-28                  NaN
1255 2020-05-29                  NaN
1256 2020-05-30                  NaN
1257 2020-05-31                  NaN

[1258 rows x 2 columns]

In [5]:
cities = aqip_mx.groupby(['City']).count()
city = cities.index.tolist()
city

['Aguascalientes',
 'Chihuahua',
 'Cuernavaca',
 'Ecatepec de Morelos',
 'Guadalajara',
 'Mexico City',
 'Monterrey',
 'Morelia',
 'Mérida',
 'Oaxaca',
 'Pachuca de Soto',
 'Puebla',
 'San Luis Potosí',
 'Tepic',
 'Toluca']

In [49]:
cities = aqip_mx.groupby(['City']).count()
city = cities.index.tolist()
#city

for i in range (5):
    
    df = pd.DataFrame()

    for year in years:

        df2 = pd.DataFrame()

        y=str(year)

        if year ==2020:

            df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                       end = pd.Timestamp('2020-05-31')  ,
                                       freq = 'D')

        else:

            df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                       end = pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    ,
                                       freq = 'D')

        df = df.append(df2)
        
    #print (df)
    
    c_data = aqip_mx2[aqip_mx2['Specie']==pollutant(i)]
    
    #c_data['Date'] = pd.to_datetime(c_data['Date'])
    
    c_data = c_data.set_index('Date')
    
    #print(c_data)
    
    for c in city:
        
        #c_data = c_data[c_data['City']==c]
        
        #print(c_data)
        
        #c_data = c_data.reset_index().set_index('Date')
    
        df=df.merge(c_data[c_data['City']==c]['c_median'], how='left', on='Date').rename(columns={'c_median':c})
        
        #print(df)
    
#pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    
df

,Date,Aguascalientes,Chihuahua,Cuernavaca,Ecatepec de Morelos,Guadalajara,Mexico City,Monterrey,Morelia,Mérida,Oaxaca,Pachuca de Soto,Puebla,San Luis Potosí,Tepic,Toluca
0,2017-01-01,11.62,4.62,5.18,NaN,1.96,3.01,NaN,6.16,NaN,2.24,3.36,NaN,NaN,2.80,4.06
1,2017-01-02,4.13,5.74,5.32,NaN,2.17,3.01,NaN,5.67,NaN,1.96,1.47,NaN,1.12,2.94,5.04
2,2017-01-03,4.48,6.09,13.02,NaN,2.24,10.01,NaN,6.02,NaN,1.96,NaN,NaN,0.70,3.15,9.03
3,2017-01-04,3.36,6.02,13.51,NaN,2.38,4.06,NaN,7.28,NaN,1.82,NaN,NaN,1.68,3.36,10.01
4,2017-01-05,6.72,5.60,11.13,4.06,2.45,4.06,NaN,6.02,NaN,1.82,3.36,NaN,0.35,3.22,8.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,2020-05-27,1.19,NaN,3.08,NaN,1.82,3.01,3.22,7.98,NaN,NaN,0.28,1.82,2.45,3.64,3.57
1243,2020-05-28,1.05,NaN,2.24,NaN,1.75,2.24,4.06,8.40,NaN,NaN,1.89,1.54,2.24,3.71,3.01
1244,2020-05-29,0.56,NaN,2.03,NaN,1.26,2.03,3.50,4.69,NaN,NaN,0.28,NaN,2.38,3.85,3.01
1245,2020-05-30,NaN,NaN,3.15,NaN,1.12,2.03,3.43,5.81,NaN,NaN,0.21,NaN,1.68,3.85,3.50
1246,2020-05-31,NaN,NaN,4.83,NaN,0.98,2.24,3.43,10.85,NaN,NaN,1.54,NaN,1.82,2.66,4.06

In [62]:
df

,Date,Aguascalientes,Chihuahua,Cuernavaca,Ecatepec de Morelos,Guadalajara,Mexico City,Monterrey,Morelia,Mérida,Oaxaca,Pachuca de Soto,Puebla,San Luis Potosí,Tepic,Toluca
0,2017-01-01,11.62,4.62,5.18,NaN,1.96,3.01,NaN,6.16,NaN,2.24,3.36,NaN,NaN,2.80,4.06
1,2017-01-02,4.13,5.74,5.32,1.05,2.17,3.01,NaN,5.67,NaN,1.96,1.47,NaN,1.12,2.94,5.04
2,2017-01-03,4.48,6.09,13.02,3.01,2.24,10.01,NaN,6.02,NaN,1.96,NaN,NaN,0.70,3.15,9.03
3,2017-01-04,3.36,6.02,13.51,NaN,2.38,4.06,NaN,7.28,NaN,1.82,NaN,NaN,1.68,3.36,10.01
4,2017-01-05,6.72,5.60,11.13,4.06,2.45,4.06,NaN,6.02,NaN,1.82,3.36,NaN,0.35,3.22,8.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154298,2020-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154299,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154300,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154301,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154302,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df = pd.DataFrame()

for year in years:

    df2 = pd.DataFrame()

    y=str(year)
    
    if year ==2020:

        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp('2020-05-31')  ,
                                   freq = 'D')
        
    else:
        
        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                   end = pd.Timestamp(y) + pd.tseries.offsets.YearEnd(0)    ,
                                   freq = 'D')
        
    df = df.append(df2)
    
df.head(1195)

         Date
0  2017-01-01
1  2017-01-02
2  2017-01-03
3  2017-01-04
4  2017-01-05
..        ...
95 2020-04-05
96 2020-04-06
97 2020-04-07
98 2020-04-08
99 2020-04-09

[1195 rows x 1 columns]

In [84]:
start = pd.Timestamp(y)
start

Timestamp('2020-01-01 00:00:00')

In [90]:
df

          Date
0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
..         ...
147 2020-05-27
148 2020-05-28
149 2020-05-29
150 2020-05-30
151 2020-05-31

[1247 rows x 1 columns]

In [20]:
test[test['City']=='Ecatepec de Morelos']['c_median'].head(100)

Date
2017-06-12    0.2024
2017-07-02    0.2992
2017-01-03    1.0824
2017-05-05    0.2992
2017-06-04    0.2024
               ...
2018-01-24    0.3960
2018-05-13    0.2992
2018-05-19    0.2992
2018-05-25    0.2992
2018-05-31    0.4928
Name: c_median, Length: 100, dtype: float64

In [29]:
duplicateRowsDF = test[test['City']=='Ecatepec de Morelos']['c_median'][test[test['City']=='Ecatepec de Morelos']['c_median'].duplicated()]

In [30]:
duplicateRowsDF

Date
2017-05-25    2.03
2017-05-09    1.05
2017-05-17    2.03
2017-06-17    2.03
2017-06-23    2.03
              ...
2020-02-13    2.03
2020-02-19    2.03
2020-02-22    1.05
2020-01-06    2.03
2020-01-07    2.03
Name: c_median, Length: 3077, dtype: float64

In [45]:
c_data = aqip_mx2[aqip_mx2['Specie']==pollutant(i)]

#c_data['Date'] = pd.to_datetime(c_data['Date'], format='%Y%m%d')

#c_data = c_data[c_data['City']=='Ecatepec de Morelos'][['Date','c_median']]
c_data = c_data[c_data['City']=='Ecatepec de Morelos']

#c_data.drop_duplicates()

duplicateRowsDF = c_data[c_data.duplicated(keep=False)]
duplicateRowsDF

,City,Specie,Date,count,min,max,median,variance,c_median
64635,Ecatepec de Morelos,SO2,2019-10-04,14,2.9,4.3,2.9,4.85,2.03
64658,Ecatepec de Morelos,SO2,2019-10-02,20,2.9,5.8,4.3,9.23,3.01
64666,Ecatepec de Morelos,SO2,2019-10-01,16,2.9,5.8,2.9,8.03,2.03
64671,Ecatepec de Morelos,SO2,2019-10-05,17,2.9,10.0,2.9,37.76,2.03
64685,Ecatepec de Morelos,SO2,2019-09-30,8,2.9,4.3,2.9,4.20,2.03
64701,Ecatepec de Morelos,SO2,2019-10-03,15,2.9,7.2,4.3,13.54,3.01
64718,Ecatepec de Morelos,SO2,2019-10-06,16,2.9,4.3,2.9,4.90,2.03
79283,Ecatepec de Morelos,SO2,2019-12-30,4,1.5,4.3,1.5,26.13,1.05
79284,Ecatepec de Morelos,SO2,2019-10-04,14,2.9,4.3,2.9,4.85,2.03
79290,Ecatepec de Morelos,SO2,2019-12-31,16,1.5,2.9,1.5,4.90,1.05
79299,Ecatepec de Morelos,SO2,2019-09-30,8,2.9,4.3,2.9,4.20,2.03
79307,Ecatepec de Morelos,SO2,2019-10-03,15,2.9,7.2,4.3,13.54,3.01
79338,Ecatepec de Morelos,SO2,2019-10-06,16,2.9,4.3,2.9,4.90,2.03
79345,Ecatepec de Morelos,SO2,2019-10-01,16,2.9,5.8,2.9,8.03,2.03
79359,Ecatepec de Morelos,SO2,2019-10-02,20,2.9,5.8,4.3,9.23,3.01
79364,Ecatepec de Morelos,SO2,2019-10-05,17,2.9,10.0,2.9,37.76,2.03
93228,Ecatepec de Morelos,SO2,2019-12-30,4,1.5,4.3,1.5,26.13,1.05
93229,Ecatepec de Morelos,SO2,2019-12-31,16,1.5,2.9,1.5,4.90,1.05
79321,Ecatepec de Morelos,SO2,2020-01-04,24,1.5,30.0,2.9,947.33,2.03
79369,Ecatepec de Morelos,SO2,2020-01-05,25,1.5,27.2,10.0,648.60,7.00
93197,Ecatepec de Morelos,SO2,2020-01-04,24,1.5,30.0,2.9,947.33,2.03
93219,Ecatepec de Morelos,SO2,2020-01-05,25,1.5,27.2,10.0,648.60,7.00

In [247]:
def aqip_mx():
    
    dir_pcs_aqip = '../data/processed/aqip/'
    
    aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')
    
    years = [2017, 2018, 2019, 2020] #Years to be analyzed
    
    aqip_mx['Date'] = pd.to_datetime(aqip_mx['Date'])

    aqip_mx2 = pd.DataFrame()

    for year in years:

        aqip_mx2 = aqip_mx2.append(aqip_mx[aqip_mx['Date'].dt.year==year])

    
    cities = aqip_mx.groupby(['City']).count()
    
    city = cities.index.tolist()


    for i in range (5):

        df = pd.DataFrame()

        for year in years:

            df2 = pd.DataFrame()

            y=str(year)
            
            df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                           end = pd.Timestamp(y+'-05-31')  ,
                                           freq = 'D')
            df = df.append(df2)
            

        c_data = aqip_mx2[aqip_mx2['Specie']==pollutant(i)]

        c_data = c_data.set_index('Date')

        for c in city:

            df=df.merge(c_data[c_data['City']==c]['c_median'], how='left', on='Date').rename(columns={'c_median':c})
        
        df = df.set_index('Date')
            
        df = df.rolling(7, min_periods=1).mean()
            
        df.to_csv(dir_pcs_aqip+'MX_'+pollutant(i)+'_'+str(years[0])+'-'+str(years[len(years)-1])+'.csv')

            
#df.to_csv(dir_pcs_aqip+'MX_'+pollutant(i)+'_'+str(years[0])+'-'+str(years[len(years)-1])+'.csv')

In [248]:
aqip_mx()

In [2]:
def aqip_mx():
    
    dir_pcs_aqip = '../data/processed/aqip/'
    
    aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')
    
    years = [2017, 2018, 2019, 2020] #Years to be analyzed
    
    aqip_mx['Date'] = pd.to_datetime(aqip_mx['Date'])

    aqip_mx2 = pd.DataFrame()
    
    stat_city = pd.DataFrame(columns=['City','Specie','Count','Pctg','Count_avg','Pctg_avg'])

    for year in years:

        aqip_mx2 = aqip_mx2.append(aqip_mx[aqip_mx['Date'].dt.year==year])

    
    cities = aqip_mx.groupby(['City']).count()
    
    city = cities.index.tolist()


    for i in range (5):

        df = pd.DataFrame()

        for year in years:

            df2 = pd.DataFrame()

            y=str(year)
            
            df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                           end = pd.Timestamp(y+'-05-31')  ,
                                           freq = 'D')
            df = df.append(df2)
            

        c_data = aqip_mx2[aqip_mx2['Specie']==pollutant(i)]

        c_data = c_data.set_index('Date')

        for c in city:

            df=df.merge(c_data[c_data['City']==c]['c_median'], how='left', on='Date').rename(columns={'c_median':c})
            
        
        df = df.set_index('Date')
        
        res_data = pd.DataFrame(df.stack())
        
        res_data = res_data.reset_index().drop(columns=['Date']).rename(columns={'level_1':'City',
                                                                     0:'Count'}).groupby('City').count()

        res_data['Pctg'] = res_data['Count']/len(df)
            
        df = df.rolling(7, min_periods=1).mean()
        
        res_data2 = pd.DataFrame(df.stack())
        res_data2 = res_data2.reset_index().drop(columns=['Date']).rename(columns={'level_1':'City',
                                                             0:'Count_avg'}).groupby('City').count()
        
        res_data2['Pctg_avg'] = res_data2['Count_avg']/len(df)
        res_data = res_data.merge(res_data2, how='outer', on='City')
        
        res_data['Specie'] = pollutant(i)
        
        stat_city = stat_city.append(res_data.reset_index())
            
        df.to_csv(dir_pcs_aqip+'MX_'+pollutant(i)+'_'+str(years[0])+'-'+str(years[len(years)-1])+'.csv',
                 encoding='latin_1')
           
    
    stat_city = stat_city.set_index(['City','Specie'])
    
    specie = [pollutant(i) for i in range(5)]*15
    
    city2 = city*5
    
    city2.sort()

    index =[city2,specie]

    tuples = list(zip(*index))

    index = pd.MultiIndex.from_tuples(tuples, names=['City','Specie'])
    
    stat_city = stat_city.reindex(index)
    
    stat_city.to_csv(dir_pcs_aqip+'MX_StatRes_'+str(years[0])+'-'+str(years[len(years)-1])+'.csv',
                    encoding='latin_1')

In [5]:
aqip_mx()

In [57]:
dir_pcs_aqip = '../data/processed/aqip/'
    
aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')

years = [2017, 2018, 2019, 2020] #Years to be analyzed

aqip_mx['Date'] = pd.to_datetime(aqip_mx['Date'])

aqip_mx2 = pd.DataFrame()

for year in years:
    aqip_mx2 = aqip_mx2.append(aqip_mx[aqip_mx['Date'].dt.year==year])

Empty DataFrame
Columns: [City, Specie, Date, count, min, max, median, variance, c_median]
Index: []

In [170]:
dir_pcs_aqip = '../data/processed/aqip/'
    
aqip_mx = pd.read_csv(dir_pcs_aqip+'MX_2015_2020.csv')

years = [2017, 2018, 2019, 2020] #Years to be analyzed

aqip_mx['Date'] = pd.to_datetime(aqip_mx['Date'])

aqip_mx2 = pd.DataFrame()

for year in years:

    aqip_mx2 = aqip_mx2.append(aqip_mx[aqip_mx['Date'].dt.year==year])


cities = aqip_mx.groupby(['City']).count()

city = cities.index.tolist()


for i in range (5):

    df = pd.DataFrame()

    for year in years:

        df2 = pd.DataFrame()

        y=str(year)

        df2['Date'] = pd.date_range(start = pd.Timestamp(y), 
                                       end = pd.Timestamp(y+'-05-31')  ,
                                       freq = 'D')
        df = df.append(df2)


    c_data = aqip_mx2[aqip_mx2['Specie']==pollutant(i)]

    c_data = c_data.set_index('Date')

    for c in city:

        df=df.merge(c_data[c_data['City']==c]['c_median'], how='left', on='Date').rename(columns={'c_median':c})

In [171]:
res_data = pd.DataFrame(df.set_index('Date').stack())
res_data = res_data.reset_index().drop(columns=['Date']).rename(columns={'level_1':'City',
                                                             0:'Count'}).groupby('City').count()

res_data['Pctg'] = res_data['Count']/len(df)
res_data

                     Count      Pctg
City
Aguascalientes         450  0.743802
Chihuahua              449  0.742149
Cuernavaca             600  0.991736
Ecatepec de Morelos    157  0.259504
Guadalajara            605  1.000000
Mexico City            600  0.991736
Monterrey              379  0.626446
Morelia                587  0.970248
Mérida                 300  0.495868
Oaxaca                 341  0.563636
Pachuca de Soto        566  0.935537
Puebla                 314  0.519008
San Luis Potosí        449  0.742149
Tepic                  566  0.935537
Toluca                 600  0.991736

In [172]:
df = df.set_index('Date')

df = df.rolling(7, min_periods=1).mean().reset_index()
            
#df.to_csv(dir_pcs_aqip+'MX_'+pollutant(i)+'_'+str(years[0])+'-'+str(years[len(years)-1])+'.csv')

res_data2 = pd.DataFrame(df.set_index('Date').stack())
res_data2 = res_data2.reset_index().drop(columns=['Date']).rename(columns={'level_1':'City',
                                                             0:'Count_avg'}).groupby('City').count()

res_data2['Pctg_avg'] = res_data2['Count_avg']/len(df)
res_data = res_data.merge(res_data2, how='outer', on='City')
res_data['Specie'] = 'CO'
res_data = res_data.reset_index()
res_data

                   City  Count      Pctg  Count_avg  Pctg_avg Specie
0        Aguascalientes    450  0.743802        516  0.852893     CO
1             Chihuahua    449  0.742149        459  0.758678     CO
2            Cuernavaca    600  0.991736        605  1.000000     CO
3   Ecatepec de Morelos    157  0.259504        247  0.408264     CO
4           Guadalajara    605  1.000000        605  1.000000     CO
5           Mexico City    600  0.991736        605  1.000000     CO
6             Monterrey    379  0.626446        452  0.747107     CO
7               Morelia    587  0.970248        603  0.996694     CO
8                Mérida    300  0.495868        469  0.775207     CO
9                Oaxaca    341  0.563636        381  0.629752     CO
10      Pachuca de Soto    566  0.935537        593  0.980165     CO
11               Puebla    314  0.519008        349  0.576860     CO
12      San Luis Potosí    449  0.742149        559  0.923967     CO
13                Tepic    566  0.935537        579  0.957025     CO
14               Toluca    600  0.991736        605  1.000000     CO

In [173]:
#new = pd.DataFrame(columns=['City','Specie','Count','Pctg','Count_avg','Pctg_avg'])
new = new.append(res_data)
new.reset_index()

    index                 City Specie Count      Pctg Count_avg  Pctg_avg
0       0       Aguascalientes     O3   450  0.743802       516  0.852893
1       1            Chihuahua     O3   449  0.742149       459  0.758678
2       2           Cuernavaca     O3   600  0.991736       605  1.000000
3       3  Ecatepec de Morelos     O3   157  0.259504       247  0.408264
4       4          Guadalajara     O3   605  1.000000       605  1.000000
5       5          Mexico City     O3   600  0.991736       605  1.000000
6       6            Monterrey     O3   379  0.626446       452  0.747107
7       7              Morelia     O3   587  0.970248       603  0.996694
8       8               Mérida     O3   300  0.495868       469  0.775207
9       9               Oaxaca     O3   341  0.563636       381  0.629752
10     10      Pachuca de Soto     O3   566  0.935537       593  0.980165
11     11               Puebla     O3   314  0.519008       349  0.576860
12     12      San Luis Potosí     O3   449  0.742149       559  0.923967
13     13                Tepic     O3   566  0.935537       579  0.957025
14     14               Toluca     O3   600  0.991736       605  1.000000
15      0       Aguascalientes     CO   450  0.743802       516  0.852893
16      1            Chihuahua     CO   449  0.742149       459  0.758678
17      2           Cuernavaca     CO   600  0.991736       605  1.000000
18      3  Ecatepec de Morelos     CO   157  0.259504       247  0.408264
19      4          Guadalajara     CO   605  1.000000       605  1.000000
20      5          Mexico City     CO   600  0.991736       605  1.000000
21      6            Monterrey     CO   379  0.626446       452  0.747107
22      7              Morelia     CO   587  0.970248       603  0.996694
23      8               Mérida     CO   300  0.495868       469  0.775207
24      9               Oaxaca     CO   341  0.563636       381  0.629752
25     10      Pachuca de Soto     CO   566  0.935537       593  0.980165
26     11               Puebla     CO   314  0.519008       349  0.576860
27     12      San Luis Potosí     CO   449  0.742149       559  0.923967
28     13                Tepic     CO   566  0.935537       579  0.957025
29     14               Toluca     CO   600  0.991736       605  1.000000

In [218]:
new2 = new.set_index(['City','Specie'])
new2

                           Count      Pctg Count_avg  Pctg_avg
City                Specie
Aguascalientes      O3       450  0.743802       516  0.852893
Chihuahua           O3       449  0.742149       459  0.758678
Cuernavaca          O3       600  0.991736       605  1.000000
Ecatepec de Morelos O3       157  0.259504       247  0.408264
Guadalajara         O3       605  1.000000       605  1.000000
Mexico City         O3       600  0.991736       605  1.000000
Monterrey           O3       379  0.626446       452  0.747107
Morelia             O3       587  0.970248       603  0.996694
Mérida              O3       300  0.495868       469  0.775207
Oaxaca              O3       341  0.563636       381  0.629752
Pachuca de Soto     O3       566  0.935537       593  0.980165
Puebla              O3       314  0.519008       349  0.576860
San Luis Potosí     O3       449  0.742149       559  0.923967
Tepic               O3       566  0.935537       579  0.957025
Toluca              O3       600  0.991736       605  1.000000
Aguascalientes      CO       450  0.743802       516  0.852893
Chihuahua           CO       449  0.742149       459  0.758678
Cuernavaca          CO       600  0.991736       605  1.000000
Ecatepec de Morelos CO       157  0.259504       247  0.408264
Guadalajara         CO       605  1.000000       605  1.000000
Mexico City         CO       600  0.991736       605  1.000000
Monterrey           CO       379  0.626446       452  0.747107
Morelia             CO       587  0.970248       603  0.996694
Mérida              CO       300  0.495868       469  0.775207
Oaxaca              CO       341  0.563636       381  0.629752
Pachuca de Soto     CO       566  0.935537       593  0.980165
Puebla              CO       314  0.519008       349  0.576860
San Luis Potosí     CO       449  0.742149       559  0.923967
Tepic               CO       566  0.935537       579  0.957025
Toluca              CO       600  0.991736       605  1.000000

In [239]:
specie = [pollutant(i) for i in range(5)]*15
city2 = city*5
city2.sort()

index =[city2,specie2]

tuples = list(zip(*index))

index = pd.MultiIndex.from_tuples(tuples, names=['City','Specie'])

In [240]:
new3 = new2.reindex(index)
new3

                      Count      Pctg Count_avg  Pctg_avg
City           Specie
Aguascalientes CO       450  0.743802       516  0.852893
               NO2      NaN       NaN       NaN       NaN
               O3       450  0.743802       516  0.852893
               PM10     NaN       NaN       NaN       NaN
               SO2      NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...
Toluca         CO       600  0.991736       605  1.000000
               NO2      NaN       NaN       NaN       NaN
               O3       600  0.991736       605  1.000000
               PM10     NaN       NaN       NaN       NaN
               SO2      NaN       NaN       NaN       NaN

[75 rows x 4 columns]

In [242]:
city2 = city*5.sort()

SyntaxError: invalid syntax (<ipython-input-242-5da019a855ae>, line 1)