In [2]:
import folium
from datosgobmx import client
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt

In [3]:
dir_ext = '../data/external/INEGI/'
mx_mun = pd.read_csv(dir_ext+'CentroidMunicipalities_INEGI19_v1.csv', encoding ='latin_1')

In [4]:
mx_mun

      CVEGEO  CVE_ENT  CVE_MUN                 NOMGEO        lat        long
0       1001        1        1         Aguascalientes  21.847519 -102.305481
1       1002        1        2               Asientos  22.132107 -102.095255
2       1003        1        3               Calvillo  21.910832 -102.713602
3       1004        1        4                  Cosío  22.370516 -102.312008
4       1005        1        5            Jesús María  21.934556 -102.468451
...      ...      ...      ...                    ...        ...         ...
2458   32054       32       54          Villa Hidalgo  22.406697 -101.722249
2459   32055       32       55             Villanueva  22.335301 -102.843352
2460   32056       32       56              Zacatecas  22.729331 -102.668598
2461   32057       32       57               Trancoso  22.756817 -102.321713
2462   32058       32       58  Santa María de la Paz  21.511359 -103.370537

[2463 rows x 6 columns]

In [9]:
dir_pcs = '../data/processed/'
aqip_mx = pd.read_csv(dir_pcs+'aqip/MX_PM10_2017-2020.csv', encoding='latin_1')

In [10]:
aqip_mx

,Date,Aguascalientes,Chihuahua,Cuernavaca,Ecatepec de Morelos,Guadalajara,Mexico City,Monterrey,Morelia,Mérida,Oaxaca,Pachuca de Soto,Puebla,San Luis Potosí,Tepic,Toluca
0,2017-01-01,971.000000,21.600000,54.000000,NaN,43.200000,52.920000,NaN,69.142857,NaN,73.183673,10.800000,NaN,37.800000,43.200000,49.680000
1,2017-01-02,560.479592,27.000000,45.900000,NaN,46.980000,48.060000,NaN,72.173469,NaN,58.191837,7.020000,NaN,34.560000,41.580000,52.340000
2,2017-01-03,444.176871,37.006803,48.600000,NaN,52.347211,53.067211,NaN,83.285714,NaN,58.474830,5.400000,NaN,46.087619,45.360000,58.614422
3,2017-01-04,359.005102,42.515306,49.140000,NaN,58.566531,54.560612,NaN,88.841837,NaN,56.816122,4.320000,NaN,51.851429,48.275102,62.256735
4,2017-01-05,301.436735,43.300245,49.248000,NaN,57.853224,55.860735,NaN,93.791837,NaN,56.252898,4.320000,NaN,235.881143,51.640490,64.442122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,2020-05-27,29.160000,NaN,41.040000,NaN,34.714286,52.349271,35.948571,38.417143,NaN,84.440233,36.257143,65.454344,37.337143,44.711487,60.244315
601,2020-05-28,31.165714,NaN,39.188571,NaN,38.097143,50.320350,33.634286,39.034286,NaN,80.500058,35.485714,56.632653,37.954286,46.934577,57.935277
602,2020-05-29,33.017143,NaN,37.182857,NaN,42.345889,47.388921,31.165714,38.880000,NaN,70.249913,33.634286,49.726414,36.411429,50.640700,55.940991
603,2020-05-30,32.708571,NaN,34.560000,NaN,43.425889,44.303207,29.622857,35.485714,NaN,60.840466,31.165714,44.943557,33.017143,53.520816,52.700991
604,2020-05-31,31.782857,NaN,32.245714,NaN,42.963032,41.680350,29.005714,33.480000,NaN,48.236152,28.080000,45.054150,33.634286,55.989388,51.003848

In [11]:
cty_aqip = [c for c in aqip_mx.columns]
cty_aqip

['Date',
 'Aguascalientes',
 'Chihuahua',
 'Cuernavaca',
 'Ecatepec de Morelos',
 'Guadalajara',
 'Mexico City',
 'Monterrey',
 'Morelia',
 'Mérida',
 'Oaxaca',
 'Pachuca de Soto',
 'Puebla',
 'San Luis Potosí',
 'Tepic',
 'Toluca']